<h1 class="d-flex justify-content-center p-4">{{ message }}</h1>

<div class="card ms-auto me-auto w-75">
  <div class="card-header">
    <h2 class="d-flex justify-content-center text-secondary">Lista de Tarefas : {{ currentDate }} </h2>
  </div>
  <ul id="sortable-list" class="list-group list-group-flush">
    <li class="list-group-item d-flex  align-items-center" style="gap: 10px;" ng-repeat="item in items" draggable="true">
      <div id="{{item}}" class="text-success" >{{ item }}</div>
      <button id="{{'btn-'+item}}" class="btn btn-success ms-auto" ng-click="checkItem(item,$event.target)">Feito</button>
      <button class="btn btn-warning " ng-click="editItem(item)">Editar</button>
      <button class="btn btn-danger " ng-click="removeItem(item)">Remover</button>
    </li>
  </ul>

  <div class="card-footer d-flex p-4 ps-1 align-items-end" style="gap: 10px;">
    <textarea class="form-control" id='new' type="text"  value="{{newItem}}" placeholder="Novo item" rows="2"></textarea>
    <button class="btn btn-primary" ng-click="addItem($event.value)">{{indexEditItem || indexEditItem == 0 ?'Editar':'Adicionar'}}</button>
  </div>
</div>

